.sidebar {
  background: linear-gradient(
    154.99deg,
    #6315db 32.75%,
    rgba(236, 46, 118, 0.5) 99.24%
  );

  padding-inline: 2rem;
  padding-block: 2rem;

  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
  color: white;
  position: relative;
}

.logo__img {
  align-self: flex-start;
}

.right__side__logo__img {
  display: none;
}

.sidebar__featured__img img {
  max-width: 100%;
  height: auto;
  /* overflow: hidden; */
  position: absolute;
  top: 140px;
  left: 0;
  /* bottom: -200px; */
  /* transform: translate(-25px, -85px); */
  /* align-self: center; */
}

.right__side {
  padding-inline: var(--heading-padding-inline);
  /* padding-left: 18rem; */
  /* width: 70%; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right__side__text {
  padding-bottom: 3rem;
}

.right__side__text h2 {
  padding-bottom: 1rem;
}

.form__container {
  width: 100%;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 4rem; */
  max-width: 28rem;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: space-between;
}

.button {
  background: #6315db;
  box-shadow: 0px 16px 32px 0px #6315db40;
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .right__side {
    padding-block: 2rem;
  }

  .right__side__logo__img {
    display: block;
    padding-block: 1rem 1.5rem;
  }
}
